.hidden /* class selector fo anything to hide in html that is only used for markup, eg: "about the team"*/ {
    display: none;
}

body { 
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(227, 231, 18);
    padding: 10px 0;
}
a {
    text-decoration: none;
}

.characters{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.characters li {
    height:220px;
    margin: 10px 8px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 155px 0 rgb(227, 231, 18)inset;
    transition: box shadow .2s ease;

}
.characters li a{ 
    text-decoration: none;
}
.characters li :hover{
    box-shadow: 0 220px 0 rgb(0, 225, 135)inset;
}
.characters li h5 {
    color: white;
}
#main-logo{
    width:300px ;
    display: block ;
    margin: 0 auto ;
    box-shadow: 3px 3px 5px rgb(5, 93, 86);
}
#character_nav {
    background-color:#065122;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
}
article, #instructions {
    padding: 20px;
}
article h3,#instructions h3 {
    font-size: 32px;
    text-align:center;
    margin-bottom: 14px;
}
article p, #instructions{
    font-size: 18px;
    text-align: center;
}
.sprite{
    width: 150px;
    height: 150px;
    background-image: url('../images/spritesheet.jpg')
}
#morty {background-position: -150px 0};
#summer {background-position: -300px 0};
#jerry {background-position: -450px 0};
#goldenfold {background-position: -600px 0};
#lucius {background-position: -750px 0};

#rick:hover, #marty:hover, #summer:hover, #jerry:hover, #goldenfold:hover, #lucius:hover {
           background-position-y: -150px;
}
footer{
    text-align: center;
    padding: 20px;
}
.sticky_footer{ 
    height: 80px;
    background-color: rgb(40,37,37);
    position: sticky;
    top: 100%;
}
.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.716);
    background-image: url('../images/Rick_Sanchez_lb_bg.png');
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
 }

 .lightbox_close {
    color: white;
    position: absolute;
    top: 20px;
    right: 5%;
    font-size: 40px;
    text-decoration: none;
    font-weight: bolder;

    transition: all .10s ease-in-out;


 }

 .lightbox_close:hover {
    opacity: 0.5;
    color: rgb(0, 247, 255);
 }

 .lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;

 }

 .lb_text, .lb_heading { 
    text-align: left;
 }

 .lb_text {
    line-height: 26px;
 }

 .lb_heading { 
  font-weight: bolder;
 }

 .lightbox:target {
    display: block;

 }
 #lightbox2 {
    background-image: url('../images/Morty_Smith_LB_BG.png');
 }
 #lightbox3 {
    background-image: url('../images/Summer_Smith_LB_BG.png');
 }
#lightbox4 {
        background-image: url('../images/Jerry_Smith_LB_BG.png');
}
 #lightbox5 {
            background-image: url('../images/mr_goldenfold_lb_bg.jpg');
 }
 #lightbox6 {
    background-image: url('../images/the_devil_lb_bg.jpeg');
 }